<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Home Page</title>
</head>
<body>
    
    <h1>Welcome to the home page of my 1st Flask App</h1>

    <p>YaY!!!!</p>

    <form action="/users/create" method="POST">
        <label>Name:</label>
        <input type="text" name="username" placeholder="User XYZ" value="User XYZ">

        <label>Country:</label>
        <select name="Country">
            <option value="USA">United States</option>
            <option value="UK">United Kingdom</option>
            <option value="Japan">Japan</option>
        </select>

        <button>Submit</button>
    </form>
    
</body>
</html>